#body{
    background-color: #dfe1e2;
    padding: 10px;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.07);
    font-size: 20px;
    background-size: 100%;
    
}
input{
    width: 30%;
    margin: 10px 0px;
    padding: 5px;
}